/* styles.css */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Empêche les barres de défilement */
}

canvas {
    display: block; /* Empêche un décalage supplémentaire */
}
