.side-pannel-actions {
    padding-top: 10px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
}

.side-pannel-settings {
    display: flex;
    gap: 10px;
}

.side-pannel {
    width: 450px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 8px 12px;
    color: white;
    background: rgba(80, 80, 80, 0.8);
    border-radius: 15px;
}