.button-close {
    width: 100%;
    border: 1px solid #FFFFFF;
}

.button-close:hover {
    transition: 0.125s ease;
}

@media only screen and (max-width: 768px) {
    .button-close {
        width: fit-content;
        margin: auto;
        padding-top: 4px;
    }
}