.about-modal-pfp {
    width: 100px;
    height: 100px;
}

.about-modal-links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.about-modal-links li {
    margin: 5px 0;
}

.about-modal-links a {
    text-decoration: none;
    color: #764134;
    font-weight: bold;
    transition: color 0.3s ease;
}

.about-modal-card .links a:hover {
    color: #fff;
}
