.leaderboard-header {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 16px;
}

.leaderboard-expand {
    display: flex;
    justify-content: center;
    
}

.leaderboard-table-container {
    max-height: 368px;
    overflow: auto;
}

.leaderboard-table-number {
    text-align: right;
}

.leaderboard-table-tiles {
    color: #FFFFFF90;
    text-shadow: -1px 1px 0px #404040;
}

.leaderboard-entry-index {
    text-align: right;
}

.leaderboard-table-ellipsis {
    min-width: 152px;
    text-overflow: ellipsis;
}
