.leaderboard {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 8px 12px;
    color: white;
    border: 1px solid white;
    background: rgba(86, 86, 86, 0.34);
    height: 60%;
    overflow: scroll;
}

.leaderboard-title {
    margin-bottom: 10px;
    margin-top: 5px;
    color: #2a1a1f;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.leaderboard-entry-flag {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.leaderboard-entry td {
    margin: 0 3px;
    text-shadow: black 1px 1px 3px;
    font-size: 20px;
}