.leaderboard {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    padding: 8px 12px;
    color: white;
    border: 1px solid white;
    background: rgba(86, 86, 86, 0.34);
    max-height: 60%;
    overflow: auto;
}

.leaderboard-header {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.leaderboard-title {
    color: #2a1a1f;
    margin: 0 auto;
}

.leaderboard-caption {
    margin-top: 0;
    color: white;
    font-size: 15px;

}

.leaderboard-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    width: 400px;
}

.leaderboard-entry-flag {
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

.leaderboard-entry td {
    margin: 0 3px;
    text-shadow: black 1px 1px 3px;
    font-size: 20px;
}

.leaderboard-tiles {
    width: max-content;
    justify-self: end;

}

* {
    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

::-webkit-scrollbar-button:start,
::-webkit-scrollbar-button:end,
::-webkit-scrollbar-button:single-button,
::-webkit-scrollbar-button:horizontal:decrement,
::-webkit-scrollbar-button:horizontal:increment,
::-webkit-scrollbar-button:vertical:decrement,
::-webkit-scrollbar-button:vertical:increment {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    background-color: transparent !important;
    visibility: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}