.settings-country-section-label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.settings-section {
    margin-bottom: 2rem;
    border: 2px solid #2d2d2d;
    border-radius: 0.5rem;
    padding: 2rem;
}